<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="main">
        <div class="home">
            <p style="font-size: 40px;font-family: Georgia, 'Times New Roman', Times, serif; margin-top: -150px;">CMS</p>
            <ul>
                <li style="margin-top: 10vh;"><a href="/">Home</a></li>
                <li><a href="/login">Admin</a></li>
                <li><a href="/clientlogin">Client</a></li>
            </ul>
        </div>
        <div class="homebackground"></div>
    </div>
</body>

</html>